.separator,
.separator .line {
    -fx-border-color: linear-gradient(lightgreen, green);
}

.button .label,
.uncolored-label {
    -fx-text-fill: #20ff00;
}

.text-field,
.text-area,
.text-field,
.password-field {
    -fx-background-color: linear-gradient(lightgreen, green);
    -fx-border-color: green;
    -fx-border-radius: 5;
    -fx-text-fill: #eaffea;
}

.button {
    -fx-background-color: linear-gradient(lightgreen, green);
}

.text-area {
    -fx-border-radius: 20;
    -fx-border-width: 3;
    -fx-padding: 5 0 5 5;
    -fx-border-color: linear-gradient(lightgreen, darkgreen);
}
.text-area,
.text-area .scroll-pane .content,
.text-area .scroll-pane .viewport,
.text-area .scroll-pane {
    -fx-background-color: green;
    -fx-background-radius: 20;
}
.text-area .scroll-bar {
    -fx-background-color: transparent;
    -fx-border-radius: 20;
    -fx-border-width: 2;
}
.text-area .scroll-bar:vertical {
    -fx-border-color: lightgreen transparent green linear-gradient(lightgreen, darkgreen);
}
.text-area .scroll-bar:horizontal {
    -fx-border-color: darkgreen;
}

.list-view,
.tree-view {
    -fx-background-color: transparent;
    -fx-border-radius: 20;
    -fx-border-width: 3;
    -fx-border-color: linear-gradient(lightgreen, green);
}
.tree-cell {
    -fx-text-fill: #20ff00;
}
.tree-cell:invalid-content {
    -fx-text-fill: #009600;
}
.tree-cell,
.list-cell {
    -fx-background-color: transparent;
}
.list-cell:filled:selected,
.list-cell:filled:selected:hover,
.tree-cell:filled:selected,
.tree-cell:filled:selected:hover {
    -fx-background-color: rgba(0, 0, 0, 0.2);
}

.tree-disclosure-node .arrow {
    -fx-background-color: lightgreen;
}

.tree-view .scroll-bar,
.popup-list .scroll-bar,
.list-view .scroll-bar {
    -fx-background-color: transparent;
    -fx-border-radius: 10;
    -fx-border-width: 2;
}
.tree-view .scroll-bar:vertical,
.popup-list .scroll-bar:vertical,
.list-view .scroll-bar:vertical {
    -fx-border-color: lightgreen transparent green linear-gradient(lightgreen, green);
}
.tree-view .scroll-bar:horizontal,
.popup-list .scroll-bar:horizontal,
.list-view .scroll-bar:horizontal {
    -fx-border-color: green;
}

.scroll-bar .track {
    -fx-background-color: transparent;
}

.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar .increment-button .increment-arrow,
.scroll-bar .decrement-button .decrement-arrow {
    -fx-background-color: lightgreen;
}
.scroll-bar .increment-button .increment-arrow:hover,
.scroll-bar .decrement-button .decrement-arrow:hover,
.scroll-bar .increment-button .increment-arrow:pressed,
.scroll-bar .decrement-button .decrement-arrow:pressed {
    -fx-background-color: green;
}

.scroll-bar .thumb {
    -fx-background-color: green;
    -fx-background-radius: 5;
    -fx-background-insets: 3;
    -fx-border-color: lightgreen;
    -fx-border-radius: 5;
    -fx-border-insets: 3;
}

.scroll-bar .thumb:hover,
.scroll-bar .thumb:pressed {
    -fx-background-color: #009600;
}

.tab-pane {
    -fx-background-color: transparent;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: transparent;
}

.popup-list .list-cell,
.context-menu,
.menu-item .label,
.menu-item {
    -fx-background-color: green;
    -fx-text-fill: white;
}

.element-list-entry {
    -fx-border-color: green;
    -fx-border-radius: 15;
    -fx-border-width: 2;
}
.element-list-entry.folder {
    -fx-background-color: rgba(0, 0, 0, 0.1);
    -fx-border-color: rgb(0, 175, 0);
}

.popup-list .list-cell:hover,
.popup-list .list-cell:selected,
.menu-item:hover,
.menu-item:selected {
    -fx-background-color: linear-gradient(lightgreen, green);
}
.menu-item:hover .label,
.menu-item:selected .label {
    -fx-background-color: transparent
}

.swipe-arrow .arrow-shape {
    -fx-fill: lightgreen;
}
.swipe-arrow .arrow-background {
    -fx-fill: darkgreen;
}
.swipe-arrow:disabled .arrow-shape {
    -fx-fill: lightgray;
}
.swipe-arrow:disabled .arrow-background {
    -fx-fill: darkgray;
}

.slider .track {
    -fx-background-color: darkgreen;
    -fx-background-radius: 5;
    -fx-border-color: green;
    -fx-border-radius: 5;
}

.slider .thumb {
    -fx-background-color: green;
    -fx-border-color: lightgreen;
    -fx-border-radius: 20;
}
.slider:disabled .thumb {
    -fx-opacity: 0;
    -fx-visible: false;
}
.slider .thumb:hover,
.slider .thumb:pressed {
    -fx-background-color: #009600;
}
